.VideoPlayer{
    text-align: center;
    height: 100%;
}

.VideoPlayer progress{
    width: 75%;
}

.videoControls{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
    align-items: center;
    flex-wrap: wrap;
}

.videoReader:focus{
    outline: none;
}


.VideoScreen video{
    width: 80%;
    min-width: 320px;;
}

@media  screen and (max-width: 740px) {
    .VideoScreen video{
        width: 100%;
    }
}

.VideoScreen{
    height: 100%;
}
