.VideoPlayer{
    text-align: center;
    height: 100%;
}

.VideoPlayer progress{
    width: 75%;
}

.videoControls{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
    align-items: center;
    flex-wrap: wrap;
}

.videoReader:focus, .VideoScreen button{
    outline: none;
}

.VideoScreen button{
    border-radius: 15px;
    padding: 8px;
    width: 80px;
    background: none;
    background-color: #5d6ccf;
    color: white;
    border: none;
}

@media  screen and (max-width: 340px) {
    .VideoScreen button{
        width: 100%;
    }
}

.VideoScreen button:hover{
    border: 2px solid #5d6ccf;
    background-color: #b3cfe3;
    color: black;
}

.VideoScreen video{
    width: 80%;
    min-width: 320px;;
}

@media  screen and (max-width: 740px) {
    .VideoScreen video{
        width: 100%;
    }
}

.VideoScreen{
    height: 100%;
   
}

.VideoScreen .frameButton{
    width: 40px;
}

.FrameNavigation{
    display: flex;
    flex-wrap: nowrap;
}

.VideoScreen .right{
    border-radius: 0 15px 15px 0;
}
.VideoScreen .left{
    border-radius: 15px 0px 0px 15px;
}

.rangeNav{
  width: 80%;
}

