.VideoPlayer{
    text-align: center;
    height: 100%;
}

.VideoPlayer progress{
    width: 75%;
}

.videoControls{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
    align-items: center;
}
.videoReader:focus{
    outline: none;
}

.Video button{
    border-radius: 15px;
    padding: 8px;
    width: 80px;
}
.Video video{
    width: 80%;
    min-width: 320px;;
}
.Video{
    height: 100%;
}
.Video .frameButton{
    width: 40px;
}
.rangeNav{
  width: 80%;
}